{{!-- ACHTUNG:
    Inkludierung der Clickdummy Hauptnavigation
    Dies ist fuer den GSB NICHT notwendig!
--}}
<div class="component component_clickdummyTopBar">
    <div class="component-container">
        <div class="component-container-wrapper">

                                {{#unlesspage 'index'}}
            <div class="row">
                <div class="small-12 columns">
                    <ul id="navClickdummy">
                        <li><a href="{{root}}index.html">&gt; zur Hauptnavigation</a>
                        <li><a href="{{renderPageLink 'site/startseite' this}}">&gt; zur Startseite</a>
                    </ul>
                </div>
            </div>
                                {{/unlesspage}}

            <div class="row">
                {{#unlesspage 'index'}}
                    <div class="small-12 medium-6 columns">
                        <a class="button" href="{{{toggleScript page}}}">JavaScript {{#unless noscript }}de{{/unless}}aktivieren</a>
                    </div>
                {{/unlesspage}}

                <div class="small-12 medium-6 columns">
                    <div id="debugContainer">
                        <ol>
                            {{> clickdummy-param-debug--layout}}
                            {{> clickdummy-param-debug--noscript}}
                            {{> clickdummy-param-debug--isLoggedIn}}
                            {{> clickdummy-param-debug--isFormError}}
                            {{> clickdummy-param-debug--isOutlineHeadlines}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
