<!DOCTYPE html><!--[if lt IE 7]>
<html lang="de" class="lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]>
<html lang="de" class="lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]>
<html lang="de" class="lt-ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html lang="de"><!--<![endif]-->
<head>
    <title>
                                <if condition="title">
        {{title}}
                                <else>
        {{page}}
                                </if>
    </title>

    <include src="partials/meta/default.html" />
    <include src="partials/script/head/default.html" />
    <include src="partials/style/style/default.html" />
</head>

<include src="partials/structure/body/simple.html" />
</html>
