<!DOCTYPE html><!--[if lt IE 7]>
<html lang="de" class="lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]>
<html lang="de" class="lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]>
<html lang="de" class="lt-ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html lang="de"><!--<![endif]-->
<head>
    <title>
                                {{#if title}}
        {{title}}
                                {{else}}
        {{page}}
                                {{/if}}
    </title>

    {{> meta-head--default }}
    {{> script-head--default }}
    {{> style-head--default }}
</head>

{{> struc-body--simple }}
</html>
